### 實際示範

In [2]:
dataset

               ID  Gender  Age   Salary  VIP  Purchased
0    BOOK62498940    Male   22  20900.0    0          0
1    BOOK63243776    Male   43  22000.0    0          0
2    BOOK62674300  Female   29  47300.0    0          0
3    BOOK62412984  Female   30  62700.0    0          0
4    BOOK63216008    Male   22  83600.0    0          0
..            ...     ...  ...      ...  ...        ...
395  BOOK62767452  Female   49  45100.0    1          1
396  BOOK62824284    Male   54  25300.0    1          1
397  BOOK62617184  Female   53  22000.0    0          1
398  BOOK63020072    Male   23  36300.0    0          0
399  BOOK62376164  Female   52  39600.0    1          1

[400 rows x 6 columns]

In [11]:
# LightGBM

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Book_Purchased.csv')
X = dataset.iloc[:, [2, 3, 4]].values
y = dataset.iloc[:, 5].values

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

import lightgbm as lgb
from lightgbm import LGBMClassifier

# 建立LightGBM模型
classifier = lgb.LGBMClassifier(objective = 'binary', 
                                learning_rate = 0.05, 
                                n_estimators = 100, 
                                random_state=0)
# 使用訓練資料訓練模型
classifier.fit(X_train, y_train)
# 使用訓練資料預測分類
y_pred = classifier.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

print(cm)

[[60  7]
 [ 6 27]]

### 存模型檔

In [6]:
import pickle
with open('./lightgbm_books.pickle', 'wb') as f:
    pickle.dump(classifier, f)

### 讀取模型檔

In [29]:
age = 30
salary = 156922
vip_ind = 1
with open('./lightgbm_books.pickle', 'rb') as f:
    classifier = pickle.load(f)
    pred = classifier.predict(np.array([[ age, salary, vip_ind,]]))[0]
    pred_prob = classifier.predict_proba(np.array([[ age, salary, vip_ind,]]))[0][1]
print(pred, pred_prob)

1 0.9597337150135251